////
/// Config
///
/// @group Config
////

$modifier: 1.25;

$color: (
  "primary-light":#9fddf2,
  "primary":      #1dadde,
  "primary-dark": #28667B,

  "gray-base":    #fff,
  "gray-lighter": #eee,
  "gray-light":   #bbb,
  "gray":         #ccc,
  "gray-dark":    #444,
  "gray-darker":  #666,
  "gray-darkest": #000,

  "blue-base":    #f4f7f8,
  "blue-lighter": #e5eff2,
  "blue-light":   #ADBAC7,
  "blue":         #217b99,
  "blue-dark":    #226176,
  "blue-darker":  #2B3133,
  "blue-darkest": #0E0F10        
  );

$typography: (
  "special":      unquote("'Playfair Display', serif"),
  "heading":      unquote("'Vollkorn', serif"),
  "content":      unquote("'Noto Sans', sans-serif"),
  "font-size":    18px,
  "line-height":  1.4
  );

$border: (
  "color":        #e2e8ea,
  "radius":       3px,
  "radius-large": 6px
  );

$transition: (
  "duration":     1.2s,
  "function":     cubic-bezier(.92,.03,.72,.89)
  );

$grid: (
  "xxs":     map-get($typography, "font-size") * map-get($typography, "line-height") / ($modifier * 3),
  "xs":      map-get($typography, "font-size") * map-get($typography, "line-height") / ($modifier * 2),
  "sm":      map-get($typography, "font-size") * map-get($typography, "line-height") / ($modifier * 1),
  "md":      map-get($typography, "font-size") * map-get($typography, "line-height"),
  "lg":      map-get($typography, "font-size") * map-get($typography, "line-height") * ($modifier * 1),
  "xl":      map-get($typography, "font-size") * map-get($typography, "line-height") * ($modifier * 2),
  "xxl":     map-get($typography, "font-size") * map-get($typography, "line-height") * ($modifier * 3)
  );

$breakpoint: (
  "xs":      20em,
  "sm":      34em,
  "md":      48em,
  "lg":      62em,
  "xl":      75em
  );