<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <noscript>
      <style>
        .is-hidden{opacity:1;-webkit-transform:translateY(0px);transform:translateY(0px)}
      </style>
    </noscript>

    <div class="site">

      <div class="container">

        {% include header.html %}

        <div class="site-main is-hidden js-show-inview">
          {{ content }}
        </div>

        {% include footer.html %}

      </div>
      
    </div>

    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
