---
layout: default
---
<article class="post">

  <h1 class="post-heading">{{ page.title }}</h1>

  <div class="post-content">
    {{ content }}
  </div>

  {% for pic in page.desktop %}
  <figure class="post-figure desktop">
    <img src="{{ pic }}" alt="{{ page.title }}" class="post-figure-image" >
  </figure>
  {% endfor %}

  {% for pic in page.mobile %}
  <figure class="post-figure mobile">
    <img src="{{ pic }}" alt="{{ page.title }}" class="post-figure-image" >
  </figure>
  {% endfor %}

</article>
