////
/// Common
///
/// @group Layout
////

.button {
  display: inline-block;
  background-color: map-get($color, "primary");
  padding: map-get($grid, "md") map-get($grid, "xl");
  color: map-get($color, "blue-darkest");
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 10rem;
  cursor: pointer;

  margin-bottom: map-get($grid, "xl");
}

.emphasis {
  font-style: italic;
}

.hightlight {
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(255,255,255,0.5);
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}