////
/// Content
///
/// @group Layout
////

.content {

  *:first-child {
    margin-top: 0 !important;
  }
}


.heading-1 {
  font-weight: 700;
  color: map-get($color, "blue-light");
  border-bottom: 2px solid map-get($color, "blue-lighter");
  padding-bottom: map-get($grid, "xs");
  margin-top: map-get($grid, "lg");
  margin-bottom: map-get($grid, "md");
}

.form-group {
  display: block;
  margin-bottom: map-get($grid, "md");

  label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: map-get($grid, "md");
  }

  input {
    border: 1px solid map-get($border, "color");
    border-radius: map-get($border, "radius");
    background-color: map-get($color, "blue-base");
    font-family: map-get($typography, "content");
    font-size: 18px;
    padding: map-get($grid, "xxs");
    outline: 0;
    transition: background-color map-get($transition, "duration") map-get($transition, "function"), border-color map-get($transition, "duration") map-get($transition, "function");
    
    &:focus {
      background-color: tint(map-get($color, "blue-base"), 60%);
      border-color: tint(map-get($border, "color"), 60%);
    }
  }
}