////
/// Home
///
/// @group Layout
////

.home {
  margin-top: map-get($grid, "xl");

  @media only screen and (min-width: map-get($breakpoint, "lg")) {
    margin-top: map-get($grid, "xxl");
  }

  &-heading {
    font-family: map-get($typography, "special");
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: map-get($grid, "md");
    color: map-get($color, "gray-light");

    @media only screen and (min-width: map-get($breakpoint, "lg")) {
      font-size: 4.0rem;
      line-height: 1.25;
      margin-bottom: map-get($grid, "xl");
    }

    @media only screen and (min-width: map-get($breakpoint, "xl")) {
      font-size: 7.0rem;
      line-height: 1.1;
    }
  }

  &-text {
    font-family: map-get($typography, "heading");
    font-size: 2.0rem;
    line-height: 1.6;
    color: map-get($color, "gray-light");
    max-width: 800px;
    margin-bottom: map-get($grid, "md");

    @media only screen and (min-width: map-get($breakpoint, "lg")) {
      font-size: 2.8rem;
      margin-bottom: map-get($grid, "xl");
    }

    &-paragraph {
      margin-bottom: map-get($grid, "md");
    }
  }

  &-work {
    margin-bottom: map-get($grid, "xl");

    &-heading {
      font-size: 2.5rem;
      font-weight: 700;
      color: map-get($color, "gray-light");
      margin-bottom: map-get($grid, "xl");
      position: relative;

      @media only screen and (min-width: map-get($breakpoint, "lg")) {
        font-size: 3.0rem;
        line-height: 1.25;
      }

      @media only screen and (min-width: map-get($breakpoint, "xl")) {
        font-size: 4.8rem;
        line-height: 1.1;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: -1 * map-get($grid, "md");
        left: 0;
        width: map-get($grid, "xl");
        height: 0.2rem;
        background-color: map-get($color, "gray-lighter");
      }
    }

    &-list {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &-skill {
    margin-bottom: map-get($grid, "xl");

    &-heading {
      font-size: 4.0rem;
      font-weight: 700;
      color: map-get($color, "gray-light");
      margin-bottom: map-get($grid, "xl");
      position: relative;

      @media only screen and (min-width: map-get($breakpoint, "lg")) {
        font-size: 4.8rem;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: -1 * map-get($grid, "md");
        left: 0;
        width: map-get($grid, "xl");
        height: 0.2rem;
        background-color: map-get($color, "gray-lighter");
      }
    }

    &-paragraph {
      font-family: map-get($typography, "heading");
      font-size: 2.0rem;
      line-height: 1.6;
      color: map-get($color, "gray-light");
      max-width: 800px;
      margin-bottom: map-get($grid, "md");

      @media only screen and (min-width: map-get($breakpoint, "lg")) {
        font-size: 2.8rem;
        margin-bottom: map-get($grid, "xl");
      }
    }
  }
}

.work {
  flex: 1 0 100%;
  position: relative;
  align-self: center;
  height: 200px;
  overflow: hidden;
  display: block;

  &:not(:last-child) {
    margin-bottom: map-get($grid, "md");

    @media only screen and (min-width: map-get($breakpoint, "lg")) {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: map-get($breakpoint, "lg")) {
    flex: 1 0 50%;
    height: 300px;
  }

  @media only screen and (min-width: map-get($breakpoint, "xl")) {
    height: 500px;
  }

  &-image {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.7s cubic-bezier(.23,.03,.4,.98);


    &:before {
      content: "";
      position: absolute;
      top: map-get($grid, "md");
      right: map-get($grid, "md");
      bottom: map-get($grid, "md");
      left: map-get($grid, "md");
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-image: linear-gradient( to left top, map-get($color, "primary"), white);
      opacity: 0.4;
      transition: opacity 0.7s cubic-bezier(.34,1.13,.54,1);
    }

    &:after {
      content: "";
      position: absolute;
      top: map-get($grid, "md");
      right: map-get($grid, "md");
      bottom: map-get($grid, "md");
      left: map-get($grid, "md");
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: rgba(0,0,0,1);
      opacity: 0.8;
      transition: opacity 0.7s cubic-bezier(.34,1.13,.54,1);
    }
  }

  &-text {
    position: relative;
    z-index: 10;
    height: 100%;

    &:after {
      content: "";
      position: absolute;
      top: map-get($grid, "sm");
      right: map-get($grid, "sm");
      bottom: map-get($grid, "sm");
      left: map-get($grid, "sm");
      box-shadow: 0px 0px 0px map-get($grid, "sm") rgba(255, 255, 255, 0.02);
      display: block;
      opacity: 0.6;
      transition: opacity 0.7s cubic-bezier(.34,1.13,.54,1), transform 0.7s cubic-bezier(.34,1.13,.54,1);
    }

    &-title {
      position: absolute;
      right: 0;
      top: 50%;
      left: 0;
      text-align: center;
      //font-family: map-get($typography, "heading");
      font-size: 2.2rem;
      color: map-get($color, "gray-lighter");
      text-transform: uppercase;
      font-weight: 700;
      opacity: 0.6;
      transform: translateY(-50%);
      transition: opacity 0.7s cubic-bezier(.34,1.13,.54,1);

      @media only screen and (min-width: map-get($breakpoint, "lg")) {
        font-size: 3.0rem;
      }

      @media only screen and (min-width: map-get($breakpoint, "xl")) {
        font-size: 4.0rem;
      }
    }

    &-tag {
      position: absolute;
      right: 0;
      bottom: map-get($grid, "md");
      left: 0;
      text-align: center;

      &:before {
        content: "";
        position: absolute;
        top: -1 * map-get($grid, "sm");
        right: map-get($grid, "xxl");
        left: map-get($grid, "xxl");
        height: 2px;
        background-color: map-get($color, "gray-lighter");
        opacity: 0;
        transform: scaleX(0.6);
        transition: opacity 0.7s cubic-bezier(.34,1.13,.54,1), transform 0.7s cubic-bezier(.34,1.13,.54,1);
      }


      &-item {
        display: inline-block;
        color: map-get($color, "gray-lighter");
        opacity: 0;
        transform: translateY(5px);

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            transition: opacity 0.7s cubic-bezier(.65,-0.03,.5,1.14) 0.1s + $i/10, transform 0.7s cubic-bezier(.65,-0.03,.5,1.14) 0.1s + $i/20;
          }
        }

        // &:not(:last-child) {
        //   &:after {
        //     content: " -";
        //   }
        // }
      }
    }
  }

  &:hover {
    .work-image {
      transform: scale(1.1);
      transition: transform 0.7s cubic-bezier(.34,1.13,.54,1);

      &:before {
        opacity: 0.2;
      }

      &:after {
        opacity: 0.6;
      }
    }

    .work-text {
      &:after {
        transform: scale(1.05);
        opacity: 0;
      }

      &-title {
        opacity: 1;
      }

      &-tag {
        &:before {
          transform: scaleX(1.0);
          opacity: 0.5;
        }

        &-item {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}